svg rect {
    stroke: #888;
    stroke-width: 1;
    fill: transparent;
}
svg text {
    font-size: 10px;
    font-family: Arial, sans-serif;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}