rect {
    stroke: #888;
    stroke-width: 1;
    cursor: pointer;
}
.label {
    font-size: 5px;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.grid-sizer {
    width: 50px;
}
.grid-sizer--select {
    width: 80px;
}
#preview-box {
    margin-top: 20px;
}
button { margin-left: 10px; }
fieldset { max-width: 500px; }
.form-group {
    margin-top: 16px;
}
.form-group-sub {
    margin-top: 8px;
}