#vis rect {
    stroke: #888;
    stroke-width: 1;
    cursor: pointer;
}
.label {
    font-size: 10px;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}